/* ------ Basic Properties ------ */

html, body {
     max-width: 100%;
     height: auto;
     margin: 0;
     padding: 0;
}

body {
     background-size: cover;
     background-image: url("file:///home/debiana/webdev/public_html/trixi_test/images/tulip.jpg");
     display: grid;
     opacity: 0.9;
}



/* ------ Button-Group Properties ------ */


col-1.menu.btnbox.btn-group.btn-group-justified {
     width: 6em;
     margin-left: 1em;
}



/* ------- Styleing  Button-Home and Hover ------ */


a#btnhome.btn-home {
     padding: 0.20em  0.45em;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-shadow: 0.2em 0.2em 0.2em #FFFFFF;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #69111C;
     background-color: #ECC9AC;
     border-radius: 0.4em;
     border: 0.15em solid #CB6C67;
     display: inline-block;
     transition-duration: 0.4s;
     cursor: pointer;
     }
     a#btnhome.btn-home:hover {
          padding: 0.20em 0.45em;
          text-align: center;
          color: #241111;
          background-color: #ECD9B4;
          transition-duration: 0.4s;
          cursor: pointer;
          }
          a#btnhome.btn-home:link {
          }



/* ------- Styleing Theme Selector Link's & Wrapper ------ */


div#selector.col-5.menu {
}

header#title1.col-5.menu {
}

a#linkmuveszet.col-5.menu {
     height: 1.5em;
     position: relative;
     color: #ECCD8F;
     }
     a#linkmuveszet.col-5.menu:hover {
          color: #FF6705;
          }

a#linkzene.col-5.menu {
     height: 1.5em;
     position: relative;
     color: #ECCD8F;
     }
     a#linkzene.col-5.menu:hover {
          color: #FF6705;
           }


   
/* ------- Styleing  Transbox ------ */

div#first.row {
}

div#box.col-4.menu {
     max-height: 50em;
     margin: 0;
     padding: 1.1em 0.5em 2em 0.5em;
     background-color: #F4E7B7;
     border: 0.5em double #CB6C67;
     display: inline-block;
     }
     p#lett1.transbox {
          margin: 1.6em;
          text-shadow: 0.01em 0.01em 0.01em #EDC1D0;
          text-align: left;
          font-style: italic;
          font-family: "Times New Roman", Times, serif;
          line-height: 2em;
          color: #4D191E;
          display: inline-block;
          }



/* ------ Styleing Logo Set and Wrapper ------ */


div#logowrap.col-4.menu {
}

header#title.col-4.menu {
     height: 8em;
     margin-left: 1em;
     opacity: 0.9;
}

h1#logo1.title {
     bottom: 0;
     position: absolute;
     margin-left: 0.5em;
     top: 1em;
     text-align: right;
     text-shadow: 0.06em 0.04em 0.05em #7F0412,  0.05em 0.04em 0.06em #C03910;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #F4E9B7;
     display: inline-block;
     opacity: 0.9;
}

h2#logo2.title {
     top: 4em;
     position: absolute;
     margin-left: 2.1em;
     text-shadow: 0.06em 0.04em 0.05em #7F0412,  0.05em 0.04em 0.06em #C03910;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #F4E9B7;
     display: inline-block;
     opacity: 0.9;
}


/* ------ Styleing Theme-Box Selector ------ */

* {
     box-sizing: border-box;
}

div-row::after {
     content: "";
     clear: both;
     display: table;
}

 [class*="col-"] {
     float: left;
     padding: 0;
}

.col-1 {width:8.33%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}


div#second.row {
}

div#selector.col-5.menu {
     border-radius: 50%;
     border: 0.01em solid #CB6C67;
     background: url("file:///home/debiana/webdev/public_html/trixi_test/images/tulipir.jpg");
     white-space: nowrap;
     display: table;
     opacity: 0.9;
     }
     p.col-5.menu {
          text-align: center;
          font-style: italic;
          font-weight: bold;
          font-family: "Times New Roman", Times, serif;
          line-height: 0;
          letter-spacing: 0.05em;
          display: table;
          } 
	  header#title1.col-5.menu {
          }	       


/* ------ Styleing variable Link's ------ */

a:visited {
     color: #ECCD8F;
     }
     a:hover {
          color: #FF6705;
          }
          a:active {
               color: #EFE6E6;
               }

