/* ------ Basic Properties ------ */


html, body {
     max-width: 100%;
     height: auto;
     margin: 0;
     padding: 0;
     background-size: cover;
     background-image: url("file:///home/debiana/webdev/public_html/trixi_test/images/tulip.jpg");
     display: grid;
     opacity: 0.9;
}



/* ------ Styleing Grid-Selector Bar ------ */


* {
     box-sizing: border-box;
}

[class*="col-"] {
     float: left;
}

.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}



/* ------ Button-Group Properties ------ */


col-2.menu.btnbox.btn-group.btn-group-justified {
     width: 6em;
     margin-left: 1.5em;     
}



/* ------- Styleing  Button-Home and Hover ------ */


a#btnhome.btn-home {
     padding: 0.20em  0.45em;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-shadow: 0.2em 0.2em 0.2em #FFFFFF;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #69111C;
     background-color: #E3B189;
     border-radius: 0.4em;
     border: 0.15em solid #D98473;
     display: inline-block;
     transition-duration: 0.4s;
     cursor: pointer;
     }
     a#btnhome.btn-home:hover {
          padding: 0.20em 0.45em;
          text-align: center;
          color: #241111;
          background-color: #ECD9B4;
          transition-duration: 0.4s;
          cursor: pointer;
          }
          a#btnhome.btn-home:link {
          }



/* ------- Styleing  Button-Back and Hover ------ */


a#btnback.btn-back {
     padding: 0.20em  0.45em;
     position: relative;
     text-align: center;
     text-decoration: none;
     text-shadow: 0.2em 0.2em 0.2em #FFFFFF;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #69111C;
     background-color: #E3B189;
     border-radius: 0.4em;
     border: 0.15em solid #D98473;
     display: inline-block;
     transition-duration: 0.4s;
     cursor: pointer;
     }
     a#btnback.btn-back:hover {
          padding: 0.20em 0.45em;
          text-align: center;
          color: #241111;
          background-color: #ECD9B4;
          transition-duration: 0.4s;
          cursor: pointer;
          }
          a#btnback.btn-back:link {
          }


/* ------- Styleing Theme Selector Link's ------ */

a:visited {
     color: #F5D7AB;
}

a:hover {
     color: #FF890D;
}

a:active {
     color: #EFE6E6;
}



/* ------ Styleing Logo Set and Wrapper ------ */


header#title.col-4.menu {
     height: 5em;
     top: 40.5em;
     position: absolute;
     margin-left: 0;
}

h1#logo1.title {
     bottom: 0;
     position: absolute;
     margin-left: 0.9em;
     top: 1.3em;
     text-align: right;
     text-shadow: 0.06em 0.05em 0.06em #85322E,  0.04em 0.05em 0.06em #AB403B;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #F7DFBB;
     display: inline-block;
}

h2#logo2.title {
     top: 4.3em;
     position: absolute;
     margin-left: 2.5em;
     text-shadow: 0.06em 0.05em 0.06em #722B27,  0.05em 0.05em 0.06em #AB403B;
     font-style: italic;
     font-family: "Times New Roman", Times, serif;
     color: #F7DFBB;
     display: inline-block;
}

	
/* ------- Styleing  Container ------ */


div.col-4.menu.container {
     max-height: 45em;
     top: 5.2em;
     left: 6.5em;
     margin: 0;
     padding: 0.3em 0.5em 2.2em 0.5em;
     position: absolute;
     padding: 2em 0.5em 3em 2.4em;
     border: double 0.4em #BB6E5D;
     background-color: #F4E7B7;
     }
     p.contfont {
	  margin: 0;
          padding: 0.3em 0.5em 2.2em 0.5em;	  
          font-style: italic;
          font-family: "Times New Roman", Times, serif;
          line-height: 1.2em;
          color: #4D191E;
	  white-space: nowrap;
          display: inline-block;
          }


/* ------- Styleing  Image in Container ------ */

img#alfoldi1.col-4.menu.container  {
     
}

/* ------- Styleing  Button-Group in Container ------ */

div#usrbox.col-4.menu.btn-group.btn-group-justified {
     white-space: nowrap;
     }
     .btn-usrbox {
          margin-left: -0.3em;
          padding: 4px 35px;
          background-color: #AB213C;
          border: 1px solid #E1897C;
          border-radius: 4px;
          }



/* ------ User Button-Box Subclasses ------ */

a#please.btn-usrbox {
     color: #FBEFEF;
     }  
     a#please.btn-usrbox:hover {
          background-color: #FE5F4D;
          text-shadow: 0.1em 0.1em 0.1em #7F0412;
          border: 0.1em solid #EB4F37;
          }


a#clear.btn-usrbox {
     color: #FBEFEF;
     }          
     a#clear.btn-usrbox:hover {
          background-color: #FE5F4D;
          text-shadow: 0.1em 0.1em 0.1em #7F0412;
          border: 0.1em solid #EB4F37;
          }


a#mycart.btn-usrbox {
     color: #FBEFEF;
     }
     a#mycart.btn-usrbox:hover {
          background-color: #FE5F4D;
          text-shadow: 0.1em 0.1em 0.1em #7F0412;
          border: 0.1em solid #EB4F37;
          }



/* ------ Style Link's in User Button-Box ------ */

#please {
     font-style: italic;
     font-weight: bold;
     font-family: "Times New Roman", Times, serif;
}


#clear {
     font-style: italic;
     font-weight: bold;
     font-family: "Times New Roman", Times, serif;
}
 

#mycart {
     font-style: italic;
     font-weight: bold;
     font-family: "Times New Roman", Times, serif;
}



/* ------- Styleing  Transbox ------ */

div.col-4.menu.transbox {
     max-height: 45em;
     top: 2.7em;
     right: 2.7em;
     padding: 1em 1em 1.3em 1em;
     position: absolute;
     margin: 0;
     background: url("file:///home/debiana/webdev/public_html/trixi_test/images/tulipirmagy.jpg");
     background-repeat: no-repeat;
     border: 0.3em double #B95542;
     }

p.contfont1 {
     padding: 1em 1em 1.3em 1em;
     text-align: left;
     font-style: italic;
     font-weight: bold;
     font-family: "Times New Roman", Times, serif;
     line-height: 1.9em;
     color: #F2E1A6;
}
