
* {
     box-sizing: border-box;
     }



     body {
	     margin: 0;
	     padding: 0;
             background-size: cover;
	     background-repeat: repeat;
	     background-position: center center;
	     background-attachment: fixed;
             background-image: url("file:///home/debiana/webdev/public_html/trixi_test/images/background_caramel_this.jpg");
             display: grid;
             opacity: 0.9;
             }



     div#customer {
	     width: 40%;
	     position: relative;
	     left: 9em;
	     margin: 8px 25% 8px 25%;
	     padding: 8px 8px;
	     background-color: #F1D3A2;
	     border: 2px solid #D18168;
	     border-radius: 4px;
     }



     form {
	     width: 70%;
	     margin: 8% 15%;
     }



     label {   
             font-style: italic;
             font-family: "Times New Roman", Times, serif;
             color: #7B491E;
     }


     h3#subtitle.subt {
	     margin-bottom: 20px;
	     margin-top: 20px;
	     padding: 5px 10px;
	     width: 100%;
	     color: #7B491E;
	     font-style: italic;
	     font-family: "Times New Roman, Times, serif";
     }


     h3#subtitle1.subt2 {
	     margin-bottom: 20px;
	     margin-top: 20px;
	     padding: 5px 10px;
	     width: 100%;
	     color: #7B491E;
	     font-style: italic;
	     font-family: "Times New Roman, Times, serif";
     }



     input[type=text] {
	     margin-bottom: 5px;
	     margin-top: 10px;
	     padding: 3px 10px;
	     width: 100%;
	     font-style: italic;
	     font-family: "Times New Roman", Times, serif;
	     border-radius: 5px;
	     border: 1px solid #D5695D;
     }



     input[type=email] {
	     margin-bottom: 5px;
	     margin-top: 10px;
	     padding: 3px 10px;
	     width: 100%;
	     font-family: "Times New Roman, Times, srif";
	     border-radius: 5px;
	     border: 1px solid #D5695D;
     }



     input[type=tel] {
	     margin-bottom: 5px;
	     margin-top: 10px;
	     padding: 3px 10px;
	     width: 100%;
	     font-family:"Times New Roman, Times, serif";
	     width: 100%;
	     border-radius: 5px;
	     border: 1px solid #D5695D;
     }



     input[type=submit] {
	     margin-bottom: 5px;
	     margin-top: 25px;
	     width: 100%;
	     font-style: italic;
	     font-family: "Times New Roman", Times, serif;
	     padding: 10px;
	     border-radius: 5px;
	     border: none;
	     background: linear-gradient(to bottom, #D35A45, #E08E85);
	     transition-duration: 3s;
	     color: #F5F5DC;	
	     cursor: pointer;
     }



     input[type=number] {
	     margin-bottom: 5px;
	     margin-top: 10px;
	     padding: 3px 3px;
	     width: 100%;
	     border-radius: 5px;
	     border: 1px solid #D5695D;
     }



     input[type=checkbox] {
	     margin-bottom: 5px;
	     margin-top: 10px;
	     width: 100%;
	     border-radius: 5px;
	     border: 1px solid #D5695D;
     }



     textarea {
	     margin-bottom: 5px;
	     margin-top: 10px;
	     padding: 5px 5px;
	     width: 100%;
	     font-style: italic;
	     font-family: "Times New Roman", Times, serif;
	     border-radius: 5px;
	     border: 1px solid #D5695D;
     }



     #submit:hover {
	     color: #F5F5DC;
	     background: linear-gradient(to bottom, #B96E2D, #D7955B);
     }



     a#color.log {
             font-style: italic;
             font-weight: bold;
             font-family: "Times New Roman", Times, serif;
             color: #BE4735;
     }

     



